// Reset CSS
@mixin reset {

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;

        &:before,
        &:after {
            content: '';
            content: none;
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}


$font-path: '../fonts/';


$font-weights: (
    'regular': 400,
    'medium': 500,
    'semi-bold':600,
    'bold': 700
);


// 폰트 패밀리 변수 설정
$font-families: (
  'maru': ('MaruBuri', serif),
  'nanum': ('NanumSquare', sans-serif),
  'nanum-neo': ('NanumSquare Neo', sans-serif),
  'okgung': ('OKGUNG', serif)
);


// MaruBuri 폰트
@font-face {
  font-family: 'MaruBuri';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('#{$font-path}MaruBuri-Regular.woff2') format('woff2'),
       url('#{$font-path}MaruBuri-Regular.ttf') format('truetype');
}

// NanumSquare 폰트군
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('#{$font-path}NANUMSQUAREB.TTF') format('truetype'),
       url('#{$font-path}NANUMSQUAREL.TTF') format('truetype');
}

// NanumSquare Neo
@font-face {
    font-family: 'NanumSquare';
    font-weight: map-get($font-weights, 'regular');
    font-style: normal;
    font-display: swap;
    src: url('#{$font-path}NANUMSQUAREL.TTF') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: map-get($font-weights, 'medium');
    font-style: normal;
    font-display: swap;
    src: url('#{$font-path}NANUMSQUAREM.TTF') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: map-get($font-weights, 'semi-bold');
    font-style: normal;
    font-display: swap;
    src: url('#{$font-path}NANUMSQUARESB.TTF') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: map-get($font-weights, 'bold');
    font-style: normal;
    font-display: swap;
    src: url('#{$font-path}NANUMSQUAREB.TTF') format('truetype');
}

// OKGUNG 폰트
@font-face {
  font-family: 'OKGUNG';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('#{$font-path}OKGUNG.woff2') format('woff2'),
       url('#{$font-path}OKGUNG.ttf') format('truetype');
}

@mixin font($family, $size: 16px, $weight: 400) {
    font-family: map-get($font-families, $family);
    font-size: $size;
    font-weight: $weight;
  }





// Container
$container-width: 1315px;

// Colors
$colors: (
    'gray': #535353,
    'black': #020202,
    'brown': #665f5a,
    'teal': #00b2a9,
    'red': #ea4120,
    'bronze': #a56839,
    'olive': #727464,
    'sage': #858770
);

// Margins
$margins: (
    'mb-30': 30px,
    'mb-40': 30px,
    'mb-50': 50px,
    'mb-60': 60px,
    'mb-75': 75px,
    'mb-80' : 80px,
);

// Container Mixin
@mixin container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
}

// Margin Mixins
@each $name, $value in $margins {
    .#{$name} {
        margin-bottom: $value;
    }
}

// Apply Reset
@include reset;


// Base Container
.container {
    @include container;
}

// main

.main_container {
    background: url('/images/main_bg.jpg') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 90px 0;
        box-sizing: border-box;
        .logo_title{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 218px;
                height: auto;
            }

            p{
                color: #fff;
                font-size: 20px;
                background: url('/images/main_banner.png') no-repeat;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 188px;
                height: 33px;
                letter-spacing: -0.06em;
            }

        }

        .sub_title{
            letter-spacing: -0.03em;
            color: map-get($colors, 'brown');
            @include font('nanum', 30px, map-get($font-weights, 'bold'));
        }

        h2{
            line-height: 100px;
            letter-spacing: -0.03em;
            color: map-get($colors, 'black');
            @include font('okgung', 90px, map-get($font-weights, 'regular'));
        }

        .sub_span_text{
            color: map-get($colors, 'brown');
            font-size: 25px;
            letter-spacing: -0.03em;
            line-height: 35px;
        }

        .sub_descript{
            line-height: 35px;
            font-size: 25px;
            letter-spacing: -0.03em;
        }

        .record_btn{

        }
    }
}